{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cards/main.css' %}">
    <title>Animal cards</title>
</head>
<body>

    <div id="navbar">
        <h1 id="title">Animal Cards</h1>
        <a href="{% url 'create_view' %}"><button type="submit" class="create-button">Create</button></a>
    </div>
    <hr />

    {% block content %}
    {% endblock %}
    
</body>
</html>