{% extends 'index.html' %}

{% block content %}
<div class="flex-container">

    {% for card in cardset %}
        <div class="card-info">
            <img src="{{ card.picture.url }}" alt="{{ card.name }}"> <br/>
            <h3>{{ card.name }}</h3> <br/>
            <p>{{ card.description }}</p> <br/>
            <div class="card-buttons">
                <a href="{% url 'delete_view' card.id %}"><button type="submit" class="delete-button">Delete</button></a>
                <a href="{% url 'update_view' card.id %}"><button type="submit" class="update-button">Update</button></a>
                <a href="{% url 'detail_view' card.id %}"><button type="submit" class="info-button">Info</button></a>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}